#contactview{
  @include outer-container(1);
  background-color: #d3def0;
  margin-top: -5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 15%;
  color: black;
  h1{
    margin-left: 10%;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Ravi Prakash';
  }
  form{
    @include span-columns(7);
    h3{
      text-align: left;
      font-size: 20px;
      font: comic sans, sans-serif;
    }
    .formWords{
      text-transform: uppercase;
      color: #734004;
      font-size: 15px;
    }
    .inputBox{
      word-wrap: break-word;
      overflow: auto;
      width: 95%;
      border: 3px solid blue;
      border-radius: 10px;
      background-color: grey;
      color: #f68b0e;
      font-size: 15px;
      padding-left: 2%;
    }
    #comment{
      width: 95%;
      padding-bottom: 25%;

    }
    button{
      display: block;
      font-size: 20px;
      margin-top: 3%;
    }
  }
  .myContact{
    @include span-columns(5);
    margin-top: 66px;
    text-align: right;
    li{
      text-transform: uppercase;
      text-decoration: none;
      color: #b86606;
      font-size: 20px;
      list-style-type: none;

    }
  }
}
