doctype html

html(lang=en)
  head
    title Flaming Tires Auction
    link(rel="icon" type="image/jpg" href="http://www.union-auction.com/th/home/newwebdesign1/images/car-auction-icon.png")

    link(href="https://fonts.googleapis.com/css?family=Faster+One|Noto+Sans|Kalam|Ravi+Prakash|Caesar+Dressing|Eater|Press+Start+2P" rel="stylesheet" type="text/css")
    link(href="css/main.css" rel="stylesheet" type="text/css")

    script(src="http://code.jquery.com/jquery-2.2.3.min.js")
    script(src="http://underscorejs.org/underscore-min.js")
    script(src="https://unpkg.com/headroom.js@0.9.3/dist/headroom.min.js")
    script(src="https://unpkg.com/headroom.js@0.9.3/dist/angular.headroom.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.min.js")

    script(src="js/app.js")
    //- End head section

  body(ng-app="AuctionApp")
    
    nav#navbar(role="navigation")
      li.navOps: a.clickOps(href="#/main") Home
      li.navOps: a.clickOps(href="#/auctions") Auctions
      //- li.navOps: a.clickOps(href="#/collectors") Collector Cars
      li.navOps: a.clickOps(href="#/sold") Sold
      li.navOps: a.clickOps(href="#/tv") Televised
      li.navOps: a.clickOps(href="#/contact") Contact      
          
    header#header
      img#headImage(type="image/jpg" src="./images/flamingcar.jpg")
      div#headTop
        h1(class="animated <!--infinate--> shake") Flaming Tires Auction

    //- side bar animation?

    main#content(ng-view)

  footer
    ul UI half baked then deep fried for your enjoyment by: 
      a(href="http://www.claytongriswold.com" target="_blank") Clayton Griswold
    ul API Supported By: Michael Grill
    
