div#contactview.page-views
  h1 Contact Us
  
  form
    h3 Enter Your Contact Info:
    p.formWords Name:
    input.inputBox(type="text" name="name" placeholder="ex. John Smith")
    p.formWords Phone:
    input.inputBox(type="text" name="phone" placeholder="(123)456-7890")
    p.formWords Email:
    input.inputBox(type="text" name="email" placeholder="example@email.com")
    p.formWords Comments:
    input.inputBox#comment(type="textbox" name="comment" placeholder="Feedback Welcome!")
    button(type="submit") Submit
  div.myContact
    li Phone:
      p.clickOps (704)879-2506
    li Email:  
      p: a.clickOps(href="mailto:ccgriswold@gmail.com?subject=Mail from Mock Auction Site") emailus@flamingtires.com
    li Address: 
      p: a.clickOps(href="https://www.google.com/maps/place/Packard+Place/@35.227156,-80.846297,17z/data=!3m1!4b1!4m5!3m4!1s0x8856a02efdb0c7db:0x1738254013280ffd!8m2!3d35.227156!4d-80.846297") 222 S Church St, Charlotte, Nc 28202
