div.mainview.page-views
  h1.mainTop Upcoming Auctions
  div.upAuctions#springClassic
    a(href="#/auctions"): div.title 
      h1 Clark Griswold's
      h2 5th Annual Spring Classic
    a(href="#/auctions"): img.eventImg(type="image/jpg" src="http://webpages.charter.net/tranches26/truckster/Gary%20Schneider%20Family%20Truckster%2003.jpg")
    div.infoStuff
      p.eventInfo May 21-22, 2016
      p.eventInfo Charlotte Motor Speedway, Charlotte, NC
  
  div.upAuctions#summerClassic
    a(href="#/auctions"): div.title
      h1 Heat Blast, Summer Classic
    a(href="#/auctions"): img.eventImg(type="image/jpg" src="https://i.ytimg.com/vi/hmoCw_j1rWY/maxresdefault.jpg")
    div.infoStuff
      p.eventInfo July 2-3, 2016
      p.eventInfo Charlotte Motor Speedway, Charlotte, NC
    //- p.eventInfo: a.clickOps(href="#/buytickets") Buy Tickets
    
  div.upAuctions#fallClassic
    a(href="#/auctions"): div.title
      h1 Fall for Fall Cars
    a(href="#/auctions"): img.eventImg(type="image/jpg" src="http://screencrush.com/442/files/2015/03/furious-7-featurette.jpg")
    div.infoStuff
      p.eventInfo August 27-28
      p.eventInfo Charlotte Motor Speedway, Charlotte, NC
    //- p.eventInfo: a.clickOps(href="#/buytickets") Buy Tickets
    
