h1 Previous Auction List/Sale Prices
div#scrollboxdisplay
  div.auctionOptions(ng-repeat="car in carLot | orderBy: '-'")
    a(ng-click="selected(car)" href="#/collectors")
      img.carImage(ng-src="{{ car.image }}")
      h2.carTitle {{car.title}}
      p.year {{ car.year }}
      p.miles {{ car.miles }}
      p.price {{ car.price }}
    
